trunk/src/main/resources/pride.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Philip Jones (EMBL Outstation) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ExperimentCollection">
        <xsd:annotation>
            <xsd:documentation>The ExperimentCollection acts as a holder for any number of Experiments. Allows multiple
                Experiments to be returned when requested by a search as one XML file.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ProjectList">
                    <xsd:attribute name="version" type="xsd:string" use="required" fixed="2.1">
                        <xsd:annotation>
                            <xsd:documentation>The development version of this PRIDE schema.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
        <xsd:key name="id_constrain">
            <xsd:selector xpath="./Experiment/mzData/spectrumList/spectrum"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
    </xsd:element>
    <xsd:complexType name="ProjectList">
        <xsd:sequence>
            <xsd:element name="Experiment" type="ExperimentType">
                <xsd:annotation>
                    <xsd:documentation>An experiment encapsulates the peak lists (implemented using MzData) and
                        identifications that form a single experiment submission to PRIDE.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExperimentType">
        <xsd:sequence>
            <xsd:element name="ExperimentAccession" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The ExperimentAccession element definition; (String). This value provides the
                        unique identification for the experiment in PRIDE. It is not expected that this value would be
                        provided by the submitter, but would be returned to the submitter on successful completion of
                        their submission.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Title" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The Title element definition; (String). This value is not a unique key (see
                        ExperimentAccession above). Mandatory, free text.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Reference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>These elements holds links to any literature citations for which this experiment
                        provides supporting evidence.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ShortLabel" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The mandatory ShortLabel element definition; (String). This value is not a unique
                        key (see ExperimentAccession above). Cannot be an empty string.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Protocol">
                <xsd:annotation>
                    <xsd:documentation>The protocol element defines the sample processing steps that have been
                        performed.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ProtocolName">
                            <xsd:annotation>
                                <xsd:documentation>A descriptive name for the protocol</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="ProtocolSteps" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Contains an ordered sequence of stepDescription elements that define
                                    this protocol. The order of the stepDescription elements indicates the chronological
                                    order of steps in the protocol.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="StepDescription" type="paramType" minOccurs="0"
                                                 maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>Expansible description of the step in the protocol.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="mzData">
                <xsd:annotation>
                    <xsd:documentation>This schema can capture the use of a mass spectrometer, the data generated, and
                        the initial processing of that data (to the level of the peak list). Peak lists are processed
                        data from a mass spectrometry experiment. There can be multiple peak lists in an mzData file,
                        which might be related via a separation, or just in sequence from an automated run. Any one peak
                        list (mass spectrum) may also be composed of a number of acquisitions, which can be described
                        individually herein. NOTE: This mzData element is modified from the PSI mzData schema in one
                        respect: the spectrumList element is not mandatory.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cvLookup" type="cvLookupType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>This stores the location, name, version and a short, arbitrarily
                                    assigned in-file reference label, for one or more controlled vocabulary sources.
                                    Short labels are for use elsewhere in the data file, primarily in the cvLabel
                                    attribute, to indicate the use of a particular source for an item of controlled
                                    vocabulary.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="description">
                            <xsd:annotation>
                                <xsd:documentation>Each data set starts with a description section. This section
                                    captures 'general' information; such as the instrument on which the data were
                                    generated.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="admin" type="adminType">
                                        <xsd:annotation>
                                            <xsd:documentation>Administrative information pertaining to the entire
                                                mzData file (i.e. not specific to any part of the data set) is stored
                                                here.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="instrument" type="instrumentDescriptionType">
                                        <xsd:annotation>
                                            <xsd:documentation>Instrument descripton (not 'run time' parameters, which
                                                should properly be captured in spectrumInstrument); these features must
                                                be common to all acquisitions.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="dataProcessing" type="dataProcessingType">
                                        <xsd:annotation>
                                            <xsd:documentation>Description of the default processing by which the peak
                                                list(s) were generated.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="spectrumList">
                            <xsd:annotation>
                                <xsd:documentation>All mass spectra and the acquisitions underlying them are described
                                    and attached here. Subsidiary data arrays are also both described and attached here.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="spectrum" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>MODIFIED FROM THE ORIGINAL MZDATA SCHEMA - Allowed to be
                                                zero of these elements in PRIDE. This is an individual spectrum.The
                                                spectrum is considered to be composed of an array of acquisitions. There
                                                are two primary ways of representing data; base64 encoded binary (single
                                                or double precision) or arrays of simple data types. All arrays used to
                                                describe a single spectrum are the same length, with the same indexing.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:complexContent>
                                                <xsd:extension base="spectrumType"/>
                                            </xsd:complexContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="count" type="xsd:int" use="required">
                                    <xsd:annotation>
                                        <xsd:documentation>The number of spectra that are to be found in PRIDE. Note:
                                            users may retrieve PRIDE data without including all the spectra, however the
                                            count is still given.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="version" type="xsd:string" use="required" fixed="1.05">
                        <xsd:annotation>
                            <xsd:documentation>The development version of this mzData schema.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="accessionNumber" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The accession number assigned arbitrarily to a particular mzData instance
                                (i.e. data) file, by the generator of that file. This accession number is intended to
                                serve as a (locally) unique reference by which to identify a particular mzData instance
                                file, and is not intended to be related to any other accession number, such as that for
                                a particular entry in a reference database such as Uniprot, or the element sampleName
                                under the admin branch of mzData.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GelFreeIdentification" type="GelFreeIdentificationType" minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The GelFreeIdentification element (complex) is a concrete implementation of the
                        abstract IdentificationType element, used to hold details of identifications that have arisen
                        from techniques other than gel eletrophoresis, for example LC-MS/MS.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TwoDimensionalIdentification" type="TwoDimensionalIdentificationType" minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>This is a concrete implementation of the abstract Identification element. This is
                        used to represent identifications based upon 2D Gel Electrophoresis. Details of the gel,
                        location of the spot, pI and molecular weight are included in this identification element.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="additional" type="paramType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subsidiary information about the experiment; a run of additional parameters
                        captured as name-value pairs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdentificationType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>The abstract Identification element definition; this is a complex type! Also note the
                different Collections! There are extended elements based on this one, please see below.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Accession">
                <xsd:annotation>
                    <xsd:documentation>The database accession number for the protein. Note this value must be in
                        conjunction with an appropriate AccessionVersion value (Version of the database) and Database
                        value to unequivocally identify the protein.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AccessionVersion" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The optional version number (String) of the protein.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SpliceIsoform" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>An optional identification of the splice isoform (String) of the protein
                        identified.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Database" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The Name of the Protein Database that this accession number references.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DatabaseVersion" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional version number / string for the database searched.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PeptideItem" type="Peptide" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The collection of peptides that were identified to arrive at this protein
                        identification. TODO: Note - in this iteration it is therefore mandatory to have identified a
                        protein in order to include a peptide identification. This clearly limits the ability of PRIDE
                        to hold peptidomics data and therefore may need to be modified.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SpectrumReference" type="xsd:nonNegativeInteger" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The SpectrumReference (Non-negative Integer) cross references to the id attribute
                        of the Spectrum element that contains the spectra used for this identification.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="additional" type="paramType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subsidiary information about the identification; a run of additional parameters
                        captured as name-value pairs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Score" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The optional score element (double) is used for the score from the search engine
                        used for this identification. This needs to be interpreted in relation to the contents of the
                        SearchEngine element.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Threshold" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The optional threshold element (double) needs to be interpreted in relation to
                        the contents of the SearchEngine element.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SearchEngine" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The SearchEngine element (String) holds a reference to the search engine used for
                        this identification.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SequenceCoverage" type="Coverage" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>This element describes the sequence coverage achieved for this identification.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReferenceType">
        <xsd:annotation>
            <xsd:documentation>The ReferenceType element (abstract) provides an implementation of a simple link to n
                journal publications for which this experiment provides supporting evidence.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RefLine" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The RefLine element (String) is a simple imlpementation of the literature article
                        link, which should just contain the reference line for any supported articles. If more
                        information is desired (and as PRIDE develops further) the ability to add additional information
                        in a structured format has been added below.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="additional" type="paramType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subsidiary information about the reference; a run of additional parameters
                        captured as name-value pairs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- The Peptide element definition; complex type again, note the presence of a Modification collection -->
    <xsd:complexType name="Peptide">
        <xsd:annotation>
            <xsd:documentation>The Peptide element (complex) holds details of each peptide that has been used to arrive
                at the identification above. In a future version of PRIDE it should be possible to include peptides that
                have not been linked to a protein.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Sequence" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The sequence element (String) holds the expected sequence of the peptide
                        identification.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Start" type="xsd:nonNegativeInteger" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The Start element (Non-negative integer) holds the start position of the peptide
                        in relation to the identified protein that this peptide has been used to identifiy.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="End" type="xsd:nonNegativeInteger" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The End element (Non-negative integer) holds the end position of the peptide in
                        relation to the identified protein that this peptide has been used to identifiy.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SpectrumReference" type="xsd:nonNegativeInteger" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The SpectrumReference (Non-negative Integer) cross references to the id attribute
                        of the Spectrum element that contains the spectra used for this identification.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ModificationItem" type="Modification" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The ModificationItem is the parent element (complex) that holds details of post
                        transalational modifications. Any number of PTMs may be associated with a peptide.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FragmentIon" type="FragmentIonType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The Peptide element (complex) holds details of each peptide that has been used to
                        arrive at the identification above. In a future version of PRIDE it should be possible to
                        include peptides that have not been linked to a protein.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="additional" type="paramType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subsidiary information about the peptide; a run of additional parameters captured
                        as name-value pairs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- The fragment ion type used in Peptide -->
    <xsd:complexType name="FragmentIonType">
        <xsd:annotation>
            <xsd:documentation>A placeholder for fragment ion parameters.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="paramType"/>
        </xsd:complexContent>
    </xsd:complexType>


    <!-- The Start element definition; it is just a positive int -->
    <xsd:complexType name="Modification">
        <xsd:annotation>
            <xsd:documentation>The Modification element definition; complex type again, NOTE the fact that it cannot
                have a generated marshaller/unmarshaller for its data storage/reading!
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ModLocation" type="xsd:nonNegativeInteger" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The ModLocation element (Non-negative integer) indicates the position of the PTM
                        in the peptide (parent element).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ModAccession">
                <xsd:annotation>
                    <xsd:documentation>The ModAccessionelement definition (String) holds the accession number from the
                        relevant post-translational modification database as indicated by in the ModDatabase element.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ModDatabase" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The ModDatabase element definition (String) holds the name of the
                        post-translational modification database used for this PTM.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ModDatabaseVersion" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The ModDatabaseVersion element definition (String) holds version information
                        about the post-translational modification database (if relevant).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ModMonoDelta" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Any number of ModMonoDelta (String) values can be held as evidence for the post
                        translational modification held in the parent element.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- The ModAvgDelta element definition; it is just a String -->
            <xsd:element name="ModAvgDelta" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Any number of ModAvgDelta (String) values can be held as evidence for the post
                        translational modification held in the parent element.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="additional" type="paramType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subsidiary information about the post translational modification; a run of
                        additional parameters captured as name-value pairs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!-- Note that these elements are not represented 'as is' in the UML diagram
           (in fact, the mapping is to a Java HashMap, with residues as keys and a double[]
            for the monoisotopic and average mass delta values, respectively).
           They are programmatically extracted and their form should be something
           like 'Xyyy.yy' where 'X' is the single-letter code for the affected residue
           and 'yyy.yy' is the effective mass difference the modification causes for this
           residue. -->
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SimpleReference">
        <xsd:annotation>
            <xsd:documentation>This is a concrete implementation of the abstract ReferenceType element and provides a
                very simple implementation of a link to any literature citations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ReferenceType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- The TwoDimensionalIdentification extension element of the Identification type -->
    <xsd:complexType name="TwoDimensionalIdentificationType">
        <xsd:annotation>
            <xsd:documentation>This is a concrete implementation of the abstract Identification element. This is used to
                represent identifications based upon 2D Gel Electrophoresis. Details of the gel, location of the spot,
                pI and molecular weight are included in this identification element.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="IdentificationType">
                <xsd:sequence>
                    <xsd:element name="Gel" type="SimpleGel" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The GelType (abstract) element provides a basis for describing the kind
                                of gel used for this identication.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="GelLocation" type="Point" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>This element indicates the absolute position of the spot on the 2D gel.
                                (CLARIFY - Rf value?)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MolecularWeight" type="xsd:double" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Records the Molecular Weight (double) as estimated from the migration of
                                the spot on the second dimention of the 2D gel.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pI" type="xsd:double" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Records the pI (double) as estimated from the migration of the spot on
                                the first dimention of the 2D gel.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- The Gel element; this is not even a type yet (only an interface, implementations follow)!
There are extended elements based on this one, please see below. -->
    <xsd:complexType name="GelType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>The GelType (abstract) element provides a basis for describing the kind of gel used for
                this identication.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="GelLink" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>This element provides a link (should this be a URI rather than a string?) to an
                        image of the gel.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="additional" type="paramType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subsidiary information about the gel; a run of additional parameters captured as
                        name-value pairs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Point">
        <xsd:annotation>
            <xsd:documentation>Defines a coordinate system for describing the position of a spot on a gel.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="XCoordinate" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Defines the X coordinate (Double) (i.e. relative to the first dimension of the
                        gel)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="YCoordinate" type="xsd:double">
                <xsd:annotation>
                    <xsd:documentation>Defines the Y coordinate (Double) (i.e. relative to the second dimension of the
                        gel)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- The MolecularWeight element; it is just a double -->
    <!-- The pI element; it is just a double -->
    <xsd:simpleType name="Coverage">
        <xsd:annotation>
            <xsd:documentation>The Coverage element; it is just a constrained double (between (0.0-1.0), both inclusive)
                used to indicate the total sequence coverage of the identified protein.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="1.0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- The GelFreeIdentification extension element of the Identification type -->
    <xsd:complexType name="GelFreeIdentificationType">
        <xsd:annotation>
            <xsd:documentation>The GelFreeIdentification element (complex) is a concrete implementation of the abstract
                IdentificationType element, used to hold details of identifications that have arisen from techniques
                other than gel eletrophoresis, for example LC-MS/MS.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="IdentificationType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- The SimpleGel extension element of the Gel type -->
    <xsd:complexType name="SimpleGel">
        <xsd:annotation>
            <xsd:documentation>The SimpleGel element (complex) extends the GelType element to provide a concrete
                implementation of gel, holding a reference to a gel image (if available).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="GelType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="sourceFileType">
        <xsd:annotation>
            <xsd:documentation>Description of the source file, including location and type.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="nameOfFile" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Name of the source file, without reference to location (either URI or local
                        path).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pathToFile" type="xsd:anyURI">
                <xsd:annotation>
                    <xsd:documentation>URI-formatted full path to file, without actual file name appended.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fileType" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Type of the file if appropriate, else a description of the software or reference
                        resource used.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="supDataType">
        <xsd:annotation>
            <xsd:documentation>Data type for additional data vectors (beyond m/z and intensity).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arrayName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Name of the supplemental data array.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="float" type="xsd:float" maxOccurs="unbounded"/>
                <xsd:element name="double" type="xsd:double" maxOccurs="unbounded"/>
                <xsd:element name="int" type="xsd:int" maxOccurs="unbounded"/>
                <xsd:element name="boolean" type="xsd:boolean" maxOccurs="unbounded"/>
                <xsd:element name="string" type="xsd:string" maxOccurs="unbounded"/>
                <xsd:element name="time" type="xsd:float" maxOccurs="unbounded"/>
                <xsd:element name="URI" type="xsd:anyURI" maxOccurs="unbounded"/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation>The value to which the supDataArrayRef attribute on suppDesc refers; values should
                    never be shared between binary and non-binary supplemental arrays.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="length" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation>Number of items in the supDataArray.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="indexed" type="xsd:boolean" use="required">
            <xsd:annotation>
                <xsd:documentation>Each supDataArray can either be related to the mzArray or not.If the elements are
                    related to the mzArray then this flag is set to 1.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="offset" type="xsd:int" use="optional" default="0">
            <xsd:annotation>
                <xsd:documentation>If the indexed flag is set, then this value gives the element count (starting from 1)
                    in the mzArray which aligns with the first element in this supDataArray.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="cvLookupType">
        <xsd:annotation>
            <xsd:documentation>Information about an ontology/CV source and a short 'lookup' tag to
                refer to.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="cvLabel" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The short label to be used as a reference tag with which to refer to this particulart
                    Controlled Vocabulary source description, from an instance of the cvLabel attribute, where it
                    appears (i.e. in things of type paramType).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fullName" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>The usual name for the resource (e.g. The MGED Ontology).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="version" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The version of the CV from which the referred-to terms are drawn.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:anyURI" use="required">
            <xsd:annotation>
                <xsd:documentation>The URI for the resource.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="cvParamType">
        <xsd:annotation>
            <xsd:documentation>Parameters from a controlled vocbulary.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="cvLabel" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The short tag for the resource as defined in cvLookupType.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="accession" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The accession number of the referred-to term in the named resource.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The actual name for the parameter, from the referred-to controlled vocabulary.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>The value for the parameter; may be absent if not appropriate, or a numeric or
                    symbolic value, or may itself be CV (legal values for a parameter should be enumerated and defined
                    in the ontology).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="personType">
        <xsd:annotation>
            <xsd:documentation>Data type for operator identification information.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Contact person name, or role name (e.g. "Group leader of team 42") of the
                        individual responsible for this dataset.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="institution" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Academic or corporate organisation with which the contact person or role is
                        associated.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contactInfo" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Phone number, email, postal address or other appropriate means of contact.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="softwareType">
        <xsd:annotation>
            <xsd:documentation>Software information (the software that produced the peak list).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The official name for the software package used.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="version" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The version number of the software package.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comments" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Additional comments on the use of the software.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="completionTime" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation>The time to complete the processing that resulted in this mzData file, if the mzData
                    file was generated in a single use of the software (i.e. if the software was not used with more than
                    one parameter set, not whether the job was completed in several phases).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="dataProcessingType">
        <xsd:annotation>
            <xsd:documentation>Description of the software, and the way in which it was used to generate the peak list.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="software">
                <xsd:annotation>
                    <xsd:documentation>Specific information on the conversion or processing software.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="softwareType"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="processingMethod" type="paramType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Description of the default peak processing method.This element describes the base
                        method used in the generation of a particular mzData file. Variable methods should be described
                        in the appropriate acquisition section -- if no acquisition-specific details are found, then
                        this information serves as the default.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="spectrumType">
        <xsd:annotation>
            <xsd:documentation>The structure tha captures the generation of a peak list (including
                the underlying acquisitions)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="spectrumDesc" type="spectrumDescType">
                <xsd:annotation>
                    <xsd:documentation>There is one spectrumDesc per spectrum. It captures both the instance-specific
                        parameters for the underlying acquisitions, and where applicable, the postion of this spectrum
                        in a possible hierarchy of spectra. For example, for 'tandem' mass spectrometry; the id
                        attribute on the spectrum element allows the survey scan to be identified from which the parent
                        ion was selected that gave rise to this MSMS spectrum -- note that these identifying numbers can
                        be given, in a list if necessary, whether or not the actual referred-to spectra are present in
                        the file -- they are the 'family tree' of this spectrum.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="supDesc" type="supDescType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>There is one supDesc for each supDataArray (binary or otherwise) found under this
                        particular spectrum element.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mzArrayBinary" type="peakListBinaryType">
                <xsd:annotation>
                    <xsd:documentation>The list of m/z values (for any type of spectrum). The array is stored as a
                        base64 encoded binary.The only type allowed is IEEE-754 floating point; the precision must be
                        specified as either 32- or 64-bit; endianess must also be specified.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="intenArrayBinary" type="peakListBinaryType">
                <xsd:annotation>
                    <xsd:documentation>The intensities for each member of the m/z array, also in base64 encoded binary
                        as IEEE-754 floating point, with specified precision and endianess.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>For each acquisition, there can be a mixture of binary and other data arrays.
                        This is mostly to allow string and other data not conveniently handled by base64 to be
                        associated with binary data. This [0..n] choice allows the number of arrays to be arbitrary.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:element name="supDataArrayBinary" type="supDataBinaryType">
                    <xsd:annotation>
                        <xsd:documentation>In addition to the m/z and intensity arrays, an arbitrary number of other
                            arrays can be stored using the same indexing. For each array stored as base64 binary,
                            precision and endianess must be specified.The only type allowed is IEEE-754 floating point
                            (even booleans must be re-encoded this way).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="supDataArray" type="supDataType">
                    <xsd:annotation>
                        <xsd:documentation>If the raw data representation method was not binary, or if the supplemental
                            data array was a string or other non-binary type, then it can be represented in the
                            supDataArray element (again with the same indexing).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation>The identifier for a particular spectrum; to serve as both an internal (to the file)
                    reference with which to order spectra and also to as a means to associate them with each other (e.g.
                    parent and child soectra from a tandem experiment). This number should be provided whether it
                    legitmately comes from the source data, or has to be generated. In the absence of a parent spectrum
                    for an MS
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="supDataBinaryType">
        <xsd:annotation>
            <xsd:documentation>Extension of binary data group for supplemental data</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arrayName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Name of the supplemental data array.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="binaryDataGroup"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation>The value to which the supDataArrayRef attribute on suppDesc refers; values should
                    never be shared between binary and non-binary supplemental arrays.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="peakListBinaryType">
        <xsd:annotation>
            <xsd:documentation>Extension of binary data group for m/z and intensity values</xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="binaryDataGroup"/>
    </xsd:complexType>
    <xsd:group name="binaryDataGroup">
        <xsd:annotation>
            <xsd:documentation>The structure into which base64-encoded binary data go</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:base64Binary">
                            <xsd:attribute name="precision" use="required">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="32"/>
                                        <xsd:enumeration value="64"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                            <xsd:attribute name="endian" use="required">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="big"/>
                                        <xsd:enumeration value="little"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                            <xsd:attribute name="length" type="xsd:int" use="required"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="adminType">
        <xsd:annotation>
            <xsd:documentation>'Header' information -- sample description, contact details, comments</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="sampleName">
                <xsd:annotation>
                    <xsd:documentation>A short label that is referable to the sample used to generate the dataset. This
                        will often be a copy of the internal (lab) reference code for the sample being analysed.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="sampleDescription" type="descriptionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Expansible description of the sample used to generate the dataset, named in
                        sampleName.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sourceFile" type="sourceFileType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Information about the original source file (i.e. that generated by the
                        instrument) used in generating the instance document.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contact" type="personType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Audit information concerning the means by which the originator/owner of this
                        mzData file can be identified, and contacted if necessary.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="spectrumSettingsType">
        <xsd:annotation>
            <xsd:documentation>Description of the parameters for the mass spectrometer for a given acquisition (or list
                of)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="acqSpecification" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Specification for combining raw scans/acquisitions into a single peak list or
                        spectrum. A list of acquisitions from the original raw file can be specified. Software
                        parameters specified in the cv/userParams under acquisition automatically override the default
                        parameters given in dataProcessing.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="acquisition" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Scan or acquisition from original raw file used to create this peak
                                    list, as specified in sourceFile.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="paramType">
                                        <xsd:attribute name="acqNumber" type="xsd:int" use="required">
                                            <xsd:annotation>
                                                <xsd:documentation>The actual acquisition number taken directly from the
                                                    raw file.
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="spectrumType" use="required">
                        <xsd:annotation>
                            <xsd:documentation>Whether these are discrete or continuous spectra.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="discrete"/>
                                <xsd:enumeration value="continuous"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="methodOfCombination" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The method (most usually summing or some form of averaging) by which the
                                acquisitions were combined to make the spectrum.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="count" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The total number of acquisitions attached (as a simple data integrity
                                check).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="spectrumInstrument">
                <xsd:annotation>
                    <xsd:documentation>The instrument's 'run time' parameters; common to the whole of this spectrum.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="paramType">
                            <xsd:attribute name="msLevel" type="xsd:int" use="required"/>
                            <xsd:attribute name="mzRangeStart" type="xsd:float" use="optional"/>
                            <xsd:attribute name="mzRangeStop" type="xsd:float" use="optional"/>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="precursorType">
        <xsd:annotation>
            <xsd:documentation>The method of precursor ion selection and activation</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ionSelection" type="paramType">
                <xsd:annotation>
                    <xsd:documentation>This captures the type of ion selection being performed, and trigger m/z (or
                        m/z's), neutral loss criteria etc. for tandem MS or data dependent scans.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="activation" type="paramType">
                <xsd:annotation>
                    <xsd:documentation>The type and energy level used for activation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="msLevel" type="xsd:int" use="required"/>
        <xsd:attribute name="spectrumRef" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation>Reference to the id attribute of the spectrum from which the precursor was selected.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="spectrumDescType">
        <xsd:annotation>
            <xsd:documentation>Description of the process of performing an acquisition</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="spectrumSettings" type="spectrumSettingsType">
                <xsd:annotation>
                    <xsd:documentation>Both run time instrument settings and variations in software parameters all
                        leading to the generation of the specific spectrum being described.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="precursorList" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>List and descriptions of precursors to the spectrum currently being described.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="precursor" type="precursorType" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>This is the precursor step. If source activation is used then both
                                    msLevel and spectrumRef have the value 0. The spectrumRef holds the value of the id
                                    attribute of the spectrum from which the precursor ion was selected. An ordered list
                                    of these precursors can be given; the referred-to id numbers may not represent
                                    spectra present in the mzData file, but this should not present a bar to providing
                                    the history of this scan. Example (trivially); MS survey scan has id = 1 and the
                                    first MSMS spectrum has id= 2, with the spectrumRef attribute on precursor for the
                                    MSMS spectrum having the value 1.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="count" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The number of precursor selection processes described in the attached
                                list.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="comments" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Additional comments regarding the acquisition are captured here as free text.
                        This should only be used as a lifeboat for when the cv/userParams are inappropriate; or as a
                        'scratch' comment space.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="supDescType">
        <xsd:annotation>
            <xsd:documentation>Description of a supplemental data array</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="supDataDesc" type="descriptionType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Description of the supplemental dataset, in both CV and free-text.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="supSourceFile" type="sourceFileType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Information about the original source file used to generate the supDataArray.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="supDataArrayRef" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation>Reference to the id attribute of the supplemental data array/binary.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="instrumentDescriptionType">
        <xsd:annotation>
            <xsd:documentation>Description of the components of the mass spectrometer used</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="instrumentName">
                <xsd:annotation>
                    <xsd:documentation>Descriptive name of the instrument (make, model, significant customisations).
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="source" type="paramType">
                <xsd:annotation>
                    <xsd:documentation>Invariant ion source (e.g. MALDI) information, as a run of name-value pairs.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="analyzerList">
                <xsd:annotation>
                    <xsd:documentation>Mass analyzer component list; ordered so as to reflect the physical order of the
                        desribed components in the mass spectrometer.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="analyzer" type="paramType" minOccurs="1" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>A single component of the mass analyzer (e.g. quadrupole, collision
                                    cell), decribed with a run of name-value pairs.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="count" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The number of analyzers that are described in the attached list.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="detector" type="paramType">
                <xsd:annotation>
                    <xsd:documentation>Ion detector information, as a run of name-value pairs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="additional" type="paramType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subsidiary information about the instrument; a run of additional parameters
                        captured as name-value pairs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="paramType">
        <xsd:annotation>
            <xsd:documentation>Structure allowing the use of controlled or uncontrolled vocabulary</xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="cvParam" type="cvParamType">
                <xsd:annotation>
                    <xsd:documentation>This element holds additional data or annotation. Only controlled values are
                        allowed here.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="userParam" type="userParamType">
                <xsd:annotation>
                    <xsd:documentation>This element holds additional data or annotation. Uncontrolled, or user
                        controlled values are allowed here.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="userParamType">
        <xsd:annotation>
            <xsd:documentation>Uncontrolled user parameters (vocabulary).</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The actual name for the parameter.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>The value for the parameter, where appropriate.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="descriptionType">
        <xsd:annotation>
            <xsd:documentation>Extension of 'paramType' with an added free-text comment attribute.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="paramType">
                <xsd:attribute name="comment" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>Free text opportunity to supplement, but not to replace, to the main CV-based
                            description.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
